@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .clip-me {
    background-repeat: no-repeat;
    background-position: center center;
    clip-path: polygon(26% 6%, 81% 17%, 78% 95%, 0 79%);
  }
}

@layer base {
  html {
    font-family: Roboto, system-ui, sans-serif;
  }
}
